{
  "semi": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "importOrder": [
    "react-native-gesture-handler",
    "^react$",
    "^[a-z](.*)$",
    "^@ravenpack/(.*)$",
    "^@(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
